.table-container {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

.selected {
  background-color: #efefef;
}

.table-container tr {
  border: 1px solid #ddd;
  padding: .35em;
}

.table-body tr:hover {
  background-color: #efefef;
}


.table-container th,
.table-container td {
  padding: .625em;
  text-align: left;
}

.table-container th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}


.header{
  display: flex;
  padding: 10px;
  font-size: 1.5em;
}

.header-elements{
  padding-right: 50px;
}

.available {
  height: 3px;
  width: 3px;
  background-color: #8db600;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top:10px;
  left: 20%;
}

.notavailable{
  height: 3px;
  width: 3px;
  background-color:red;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top:10px;
  left: 20%;
}

/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25em;
  overflow-x: auto;
}


